body{
    padding: 40px;
}
.box{
    padding: 50px;
    border: 8px black solid;
    height: 400px;
    width: 500px;
    position: absolute;
    position-area: center;
    border-radius: 20px;
}
h1{
    text-align: center;
}
.in_type{
    padding: 2px;
    width: 200px;
}
.to_type{
    padding: 2px;
    width: 200px;
    position: absolute;
    left: 300px;
    top: 133px;
}
.in_type,.to_type{
    margin-left: 20px;
}
.in_type select,.to_type select{
    height: 40px;
    width: 200px;
    border: none;
    border-bottom: 2px solid black;
}
.input_deg input{
    height: 38px;
    width: 190px;
    border: none; 
    border-bottom: 2px solid black; 
    margin-top: -300px;
}
.input_deg{
    margin-left: 20px;
}
h3{
    margin-left: 45px;
}
.result{
    padding: 20px;
    background-color: aqua;
    border: 2px black solid;
    height: 20px;
    width: 200px;
    margin-left:115px;
    margin-top: -40px;
}
button{
    height: 40px;
    width: 150px;
    margin-left: 160px;
    margin-top: 10px;
    background-color: rgb(25, 25, 231);
    border-radius: 30px;
}